body {
  background-color: rgb(193, 205, 231);
}

/* speel ruimte  */
.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 12px solid rgb(136, 188, 230);
}

/* lichaam van snake */
.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

/* eten van snake  */
.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: rgb(255, 0, 242);
  border: 1px solid #fff;
  z-index: 1;
}
